<section id="about" class="about py-5">
  <div class="container">
    <h2 class="text-capitalize text-center fw-semibold text-success py-4">
      about us
    </h2>
    <div class="row">
      <div class="col-md-6">
        <div class="about-content">
          <h3>Voluptatem dignissimos</h3>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

          <ul class="list-unstyled m-0">
            <li class="d-flex gap-2">
              <span class="text-success"
                ><i class="fa-regular fa-circle-check"></i
              ></span>
              <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li>

            <li class="d-flex gap-2">
              <span class="text-success"
                ><i class="fa-regular fa-circle-check"></i
              ></span>
              <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li>

            <li class="d-flex gap-2">
              <span class="text-success"
                ><i class="fa-regular fa-circle-check"></i
              ></span>
              <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li>
          </ul>

          <p>
            reprehenderit in voluptate trideta storacalaperda mastiro dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="about-img">
          <img [src]="imgSrc" alt="About Image" class="w-100" />
        </div>
      </div>
    </div>
  </div>
</section>
