<section id="contact" class="contact bg-light py-5">
  <div class="container">
    <h2 class="text-capitalize text-center fw-semibold text-success py-4">
      contact us
    </h2>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled icons-list">
          <li class="d-flex align-items-center gap-2 my-3">
            <span class="text-white bg-success">
              <i class="fa-solid fa-location-dot"></i>
            </span>
            <div>
              <h4 class="text-capitalize my-0">Address</h4>
              <p class="my-0 text-muted">
                A108 Adam Street, New York, NY 535022
              </p>
            </div>
          </li>

          <li class="d-flex align-items-center gap-2 my-3">
            <span class="text-white bg-success">
              <i class="fa-solid fa-phone"></i>
            </span>
            <div>
              <h4 class="text-capitalize my-0">call us</h4>
              <p class="my-0 text-muted">+1 5589 55488 55</p>
            </div>
          </li>

          <li class="d-flex align-items-center gap-2 my-3">
            <span class="text-white bg-success">
              <i class="fa-solid fa-envelope"></i>
            </span>
            <div>
              <h4 class="text-capitalize my-0">email us</h4>
              <p class="my-0 text-muted">info example.com</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-6 form">
        <div class="row">
          <div class="col-md-6">
            <input
              type="text"
              name="userName"
              class="form-control"
              placeholder="Your Name"
            />
          </div>
          <div class="col-md-6">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Your Email"
            />
          </div>
        </div>

        <div class="my-3">
          <input
            type="text"
            name="subject"
            placeholder="Subject"
            class="form-control"
          />
        </div>
        <textarea name="msg" id="userMsg" class="form-control"></textarea>

        <div class="text-center my-3">
          <button
            type="submit"
            class="btn btn-sm text-capitalize btn-outline-success rounded-pill p-2 fw-semibold"
          >
            send message
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
