<section class="home py-5">
    <div class="container min-vh-100 d-flex align-items-center">
      <div class="home-content text-white">
        <h2>
          Learning Today,
          <br />
          Leading Tomorrow
        </h2>
  
        <p class="lead py-3">
          We are team of talented designers making websites with Bootstrap
        </p>
  
        <button
          class="btn btn-outline-success text-capitalize fw-semibold"
          type="button"
        >
          get started
        </button>
      </div>
    </div>
  </section>

<!-- <div>
  <h2>hello {{userName}} ,age is {{userAge}} </h2>
  <img [src]="imgSrc" alt="product">
  <button (click)="sayHello()">Ok</button>
</div> -->

<!-- <div>
  <ul>
    @for (friend of friends; track $index) {
      <li> {{friend}} </li>
    }
  </ul>
</div> -->

  